/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic styles */
    color: #3a3a3a;
    font-family: "Poppins", sans-serif;

}

/* header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Poppins", sans-serif;
}

em {
    font-family: "Courgette", sans-serif;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar styles for toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* nav-toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
    font-size: 2rem;
}

/* main */
main {
    background-color: #589dd9;
    /* take up surplus space and push footer down*/
    flex: 1 0 auto;
}


/* hero image */
#hero {
    height: 800px;
    min-width: 100%;
    background: url(../images/new-hero.jpeg) no-repeat center center/cover;
}

#intro > h1 {
    color: white;
    font-size: 80px;
    padding-left: 5px;
}

/* footer */
footer {
    background-color: white;
    align-items: end;
}

#social-sites {
    text-align: end;
    padding: 5px;
    letter-spacing: 4px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 5px;

}

#social-sites i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}