/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* asterisk wildcard selector to override default styles added by the browser */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic styles */
    color: white;
    font-family: "Poppins", sans-serif;

}

/* header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

h2 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: white;
}

em {
    font-family: "Courgette", sans-serif;

}

p {
    margin-left: 20px;
    margin-right: 20px;
    color: #3a3a3a;
    padding: 10px;
    text-align: left;
}

#logo {
    height: 50px;
    width: 80px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar styles for toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* nav-toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
    font-size: 2rem;
}

/* main */
main {
    background-color: white;
    /* take up surplus space and push footer down*/
    flex: 1 0 auto;
}



/* container styling */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    max-width: 610px;
    max-height: 810px;
    align-self: center;
}

/* homepage styling */
#hero-main {
    height: 700px;
    min-width: 100%;
    background: url(../images/homepage.png) no-repeat center center/cover;
    position: relative;
}

#hero-main-covertext {
    color: white;
    background-color: rgba(217, 144, 7, .4);
    font-family: "Courgette", sans-serif;
    font-size: 300%;
    position: absolute;
    bottom: 30px;
    width: 100%;
    min-height: 100px;
    padding: 15px;
}

/* styling link to pages */

.homepage-card {
    background-color: #589dd9;
    color: white;
    padding: 0;
    margin-top: 5px;
    border-radius: 0 0 0 25px;

}

.link-pages {
    max-width: fit-content;
    max-height: fit-content;
    margin-bottom: 15px;
}


/* hero image for english page*/
#hero {
    height: 700px;
    min-width: 100%;
    background: url(../images/new-hero.jpeg) no-repeat center center/cover;
}


#hero h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    padding-top: 50px;
}

#intro {
    color: #3a3a3a;
    font-size: 80px;
    padding-left: 5px;
    text-align: center;
}

/* lola storyline section quiz*/
.quiz-section {
    padding: 10px;
    border-radius: 8px;
    background-color: #589dd9;

}

.quiz-section h2 {
    color: white;
    text-align: center;
}

.quiz-section label {
    display: block;
    margin: 10px 0;
    text-align: justify;
}

.quiz-section button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #f5b705;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.quiz-section button:hover {
    background-color: #3f9004;
}

.result {
    margin-top: 10px;
    font-weight: bold;
}

.correct {
    color: #3f9004;
}

.wrong {
    color: red;
}

/* confetti styling*/
.con-container {
    height: 300px;
    position: relative;
    width: 80%;
    padding-left: 70px;

}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;

}

#con-button {
    background-color: orange;
    color: #ffffff;
    max-height: 80px;
    width: 100%;


}

#toTopBtn {
    text-align: center;

}


/* bubbles storyline section quiz*/
/* hero image for bubbles page*/
#hero2 {
    height: 700px;
    min-width: 100%;
    background: url(../images/bubbles.png) no-repeat center center/cover;
}

#hero2 h1 {
    color: #3f9004;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    padding-top: 50px;
}


/* flip game */

#cardbody {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    min-height: 50vh;
    background-color: #589dd9;
}

.wrapper {
    height: 400px;
    width: 400px;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 5px;
}

.cards,
.flipcard,
.view {
    display: flex;
    align-items: center;
    justify-content: center;

}

.cards {
    height: 80%;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .flipcard {
    cursor: pointer;
    position: relativa;
    perspective: 800px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}

.cards .flipcard .view {
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    position: absolute;
    background-color: white;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform 0.25s linear;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.flipcard .front-view img {
    max-width: 45px;
}

.flipcard .back-view {
    transform: rotateY(-180deg);
}

.flipcard .back-view img {
    max-width: 45px;

}

.flipcard.flip .front-view {
    transform: rotateY(180deg);
}

.flipcard.flip .back-view {
    transform: rotateY(0);
}

/* contact page styling */

#hero-contact {
    height: 700px;
    min-width: 100%;
    position: relative;
    background: url(../images/contact-img.png) no-repeat center center/cover;
}

#hero-contact-covertext {
    background-color: rgba(217, 144, 7, .4);
    color: white;
    font-family: "Courgette", sans-serif;
    font-size: 200%;
    position: absolute;
    bottom: 30px;
    width: 100%;
    min-height: 100px;
    padding: 15px;
}

/* footer */
footer {
    background-color: white;
    align-items: end;
}

#social-sites {
    text-align: end;
    padding: 5px;
    letter-spacing: 4px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 5px;

}

#social-sites i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* flip function */


/* media query for math page: mobile screens max 320px (320px) */

/* media queries for math page*/
@media (max-width: 320px) {
    .game-area {
        height: 50vh;
    }

    .controls-area {
        width: 100%;
    }

    .btn-lg {
        margin: 10px 10px;
        padding-top: 10px;
    }

    .question-area {
        padding: 10px 0;
    }



    /* home page cards styling */
    #card-align {
        max-width: 200%;
    }

    /* media queries for english page*/
    .quiz-section {
        margin-left: 10px;
        padding: 5px;
        border-radius: 8px;
        background-color: #589dd9;
        width: 100%;
        text-align: center;
    }

    .quiz-row {
        max-width: 100%;
        flex-shrink: 1;
    }
}

/* media query for math page: mobile screens max 414px (px) */
@media (max-width: 414px) {
    .controls-area {
        width: 80%;

    }

    .btn-lg {
        margin: 0 10px;
        padding: 10px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn-lg::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }

    .btn-secondary {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .math-heading {
        font-size: 2rem;
    }
}


/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #hero-math {
        height: 700px;
        min-width: 100%;
        background: url(../images/math-hero-lgscreens.png) no-repeat center center/cover;
        padding-top: 200px;

    }

    #hero-math h1 {
        background-color: rgba(217, 144, 7, .7);
        color: white;
        font-family: "Courgette", sans-serif;
        text-align: center;
        font-size: 80px;
        bottom: 20px;
        margin: 0;
        padding: 0;
        position: relative;

    }

      }


/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

}